osx_image: xcode9.3
language: objective-c
before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
install:
- gem install xcpretty --no-rdoc --no-ri --no-document --quiet
script:
- set -o pipefail && cd Example && bundle install && bundle exec pod install && cd ../ && xcodebuild build -workspace Example/Example.xcworkspace -scheme Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint --quick
- carthage build --platform iOS --no-skip-current
